/* Color palettes from coolers
https://coolors.co/000814-001d3d-003566-ffc300-ffd60a
https://coolors.co/856088-5e354e-cca43b-7f9397-305252*/
body {
    text-align: center;
    background-color:black;
    background-image: url(resources/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
    color: #FFD60A;
    font-family: arial, sans-serif;
}

h1{
    font-family: 'Star Jedi', arial, sans-serif;
    font-size: 1.75em
}

h2{
    font-size: 2.5em
}

h4 {
    font-size: 1.5em
}
.genButton,
#submitButton,
.modal-button
 {
    font-family: 'Star Jedi', arial, sans-serif;
    cursor: pointer;
    font-size: 1.25em;
}

#modal-correct,
#modal-incorrect {
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    ;
    overflow: auto;
    display: none;
} 

#modal-textbox {
    background-color: rgba(82, 82, 82, .90);
    height: 300px;
    width: 550px;
    border-radius: 5px;
    margin: 150px auto;
    border: solid 2px #FFD60A;
    padding: 2%;
    line-height: 120%;
}

#modal-incorrect img{
    padding-bottom: 25px;
}

#modal-correct img {
    width: 250px;
    line-height: 75%;
    padding-bottom: 10px;
}



